version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: chat-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: chat-server
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - MONGO_URI=mongodb://mongo:27017/chatapp
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: chat-client
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  mongo-data:
